/* ===================================== 
   Public API Request
======================================== */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&display=swap');

* {
	box-sizing: border-box;
}

html, body {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 30px;
    background-image: radial-gradient(circle 274px at 7.4% 17.9%, rgba(82, 107, 248, 1) 0.3%, rgba(167, 139, 252, 1) 90.5%);
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(19, 30, 37, 1);
    border-radius: 10px;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(19, 30, 37, 1);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, rgba(255, 124, 0, 1)),
            color-stop(0.86, rgb(255, 163, 1)));
}

header {
    background: rgba(19, 30, 37, 1);
    padding: 30px 5px 30px;
    border-radius: 6px 6px 0 0;
    max-width: 1200px;
    margin: auto;
}

.header-inner-container {
    max-width: 1180px;
    margin: auto;
}

header h1 {
    font-size: 1.25em;
    color: #fff;
    margin: 0;
    font-weight: 800;
    margin-bottom: 30px;
}

.search-input {
    padding: 0 1rem;
    height: 36px;
    border: 0;
    border-radius: 0.25rem 0 0 0.25rem ;
    max-width: 20rem;
    transition: .4s ease-out;
    outline: none;
    vertical-align: middle;
    font-size: 14px;
}

.search-input:active, .search-input:hover, .search-input:focus {
    border: 0;
}

.search-submit {
    cursor: pointer;
    height: 36px;
    width: 42px;
    background: rgba(245, 245, 245, 0.9);
    border-radius: 0 0.25rem 0.25rem 0;
    border: 0;
    transition: .4s ease-out;
    outline: none;
    margin: 0;
    vertical-align: middle;
}

.search-submit:active, .search-submit:hover, .search-submit:focus {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(50, 50, 50, 0.9);
}


/* ===================================== 
   Gallery
======================================== */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 15px;
    border-radius: 0 0 6px 6px;
    margin-bottom: 30px;
    background-image: radial-gradient(circle farthest-corner at -8.9% 51.2%, rgba(255, 124, 0, 1) 0%, rgba(255, 124, 0, 1) 15.9%, rgba(255, 163, 77, 1) 15.9%, rgba(255, 163, 77, 1) 24.4%, rgba(19, 30, 37, 1) 24.5%, rgba(19, 30, 37, 1) 66%);
}
  
.card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
    max-width: 360px;
    margin: 10px 10px 20px;
    padding: 10px;
    background: #fff;
    border-radius: 0.25em;
    transition: all .2s ease-out;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
    box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
    background-image: radial-gradient(circle 621px at 25.3% 13.8%, rgba(255, 255, 255, 1) 0%, rgba(234, 236, 255, 1) 90%);
}

.card-img {
    width: 95px;
    margin: 10px 15px auto 10px;
    border-radius: 50%;
    border: 4px solid transparent;
    transition: all 0.2s ease-out;
}

.card-info-container {
    text-align: left;
}

.card-name {
    margin: 20px auto 0;
    font-weight: 600;
}

.card-text {
    font-size: 0.8em;
    color: rgba(50, 50, 50, 0.7);
    margin: 7px auto;
    transition: .4s ease-out;
}

.cap {
    text-transform: capitalize;
}


/* ===================================== 
   Modal
======================================== */

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
}

.modal {
    position: relative;
    width: 95%;
    max-width: 420px;
    min-height: 415px;
    margin: 10px auto auto;
    padding-bottom: 30px;
    background: rgba(255, 255, 255, 1);
    border-radius: 6px 6px 0 0;
    animation-name: slideInUp;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    overflow: hidden;
}

.modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.8);
    outline: none;
    border-radius: 0 6px 0 6px;
    padding: 0;
    height: 44px;
    width: 44px;
    border: 0;
    background: rgba(255, 124, 0, 1);
}

.modal-info-container * {
    animation-name: fadeIn;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

.modal-img {
    width: 150px;
    margin-top: 35px;
    border-radius: 50%;
}

.modal-name {
    margin-bottom: 5px;
    font-weight: 600;
}

.modal-text {
    color: rgba(50, 50, 50, 0.7);
    margin: 10px;
    font-size: 14px;
}

.modal-text a {
    color: inherit;
}

.modal hr {
    width: 75%;
    margin: 25px auto 30px;
    height: 1px;
    background: rgba(0,0,0,0.1);
    outline: 0;
    box-shadow: none;
    border: 0;
}

.modal-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 95%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto auto;
    border-radius: 0 0 6px 6px;
    position: relative;
    z-index: 10;
    background: #fff;
}


.modal-btn-container .btn {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    padding: 0.75em 1.5em;
    font-weight: 600;
    background: rgba(255, 124, 0, 1);
    border-radius: 6px;
    transition: all 0.2s ease-out;
    outline: none;
    border: 0;

  }

/* ===================================== 
   Animation
======================================== */
@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ===================================== 
   Media Queries
======================================== */

/* ===================================== 
   Tablet
======================================== */

@media (min-width: 768px) {
    header h1 {
        margin-bottom: 0;
    }
    .header-inner-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding-right: 15px;
        padding-left: 15px;
    }

    .header-text-container {
        text-align: left;
    }

    .search-container {
        /* margin-top: 25px; */
    }

    .modal {
        margin-top: 100px;
    }
}


/* ===================================== 
   Desktop
   Hover styles on desktop 
======================================== */

@media (min-width: 1024px) {

    .card:hover {
        box-shadow: 5px 12px 20px rgba(36, 37, 38, 0.13);
        box-shadow: 0 20px 40px -10px rgba(0, 64, 128, .4);
    }

    .card:hover .card-text {
        color: rgba(25, 25, 25, 1); 
    }

    .btn:hover {
        background: rgba(255, 255, 255, 1);
        color: rgba(25, 25, 25, 1); 
    }

    .card:hover .card-img {
        border: 4px solid rgba(255, 124, 0, 1);
    }
    .modal-btn-container .btn:hover,
    .modal-close-btn:hover {
        color: #fff;
        background: rgb(255, 163, 1);
    }
    .modal-text a:hover {
        color: rgb(255, 163, 1);
    }
}